@model CompanyASP.Models.ProgressEmployee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить прогресс этого сотрудника?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Прогресс сотрудника</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt>
            <label>Сотрудник</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
